apiVersion: v1
kind: PersistentVolume
metadata:
  name: postgres-pv
  namespace: final-project   
  labels:
    app: postgres
    tier: database
spec:
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: manual
  hostPath:
    path: /mnt/data/postgres
